# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.Rhistory
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
cache/*

#python
build/
.ipynb_checkpoints/*

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
